<div class="avatar-block">
  <label for="avatar" class="avatar">
    {{{avatar}}}
  </label>
  <input id="avatar" name="avatar" type="file" />
  <div class="avatar-overlay">Change avatar</div>
</div>
<form class="profile-page-form">
  {{{inputs}}}
  <div class="form-buttons-block">
    {{{button}}}
  </div>
</form>
