@use "../../../style.scss" as style;

.input-wrapper {
  @include style.flex($direction: column, $gap: 8px);
  width: 100%;
  .label {
    color: style.$grey;
  }
}
.input {
  @include style.text();
  width: 100%;
}
