<div class="profile-page-wrapper">
  {{> Avatar avatarLink="/Union.png" additionalClass="avatar-large"}}
  <h4 class="profile-title">Ivan</h4>
  <form class="profile-page-form">
    <div class="profile-form-control">
      {{> Input labelText="Email" type="text" id="email" name="email" value="example@example.com" disabled="true"}}
    </div>
    <div class="profile-form-control">
      {{> Input labelText="Login" type="text" id="login" name="login" value="ivanivanov" disabled="true"}}
    </div>
    <div class="profile-form-control">
      {{> Input labelText="First name" type="text" id="first_name" name="first_name" value="Ivan" disabled="true"}}
    </div>
    <div class="profile-form-control">
      {{> Input labelText="Second name" type="text" id="second_name" name="second_name" value="Ivanov" disabled="true"}}
    </div>
    <div class="profile-form-control">
      {{> Input labelText="Nickname" type="text" id="display_name" name="display_name" value="Ivan" disabled="true"}}
    </div>
    <div class="profile-form-control">
      {{> Input labelText="Phone" type="text" id="phone" name="phone" value="+7(909)9673030" disabled="true"}}
    </div>
    <div class="form-buttons-block">
      {{> Button link="#changeProfile" text="Change info"}}
      {{> Button link="#changePassword" text="Change password"}}
      {{> Button link="#chats" text="Close"}}
    </div>
  </form>
</div>
