<div class="avatar-wrapper {{#if additionalClass}}{{additionalClass}}{{/if}}">
  {{#if avatarLink}}
  <img src="{{avatarLink}}" alt="avatar" />
  {{else}}
  <div class="avatar-field"></div>
  {{/if}}
</div>
