<div class="profile-password-page-wrapper">
  {{> Avatar avatarLink="/Union.png" additionalClass="avatar-large"}}
  <form class="profile-page-form">
    <div class="profile-form-control">
      {{> Input labelText="Password" type="password" id="oldPassword" name="oldPassword" value="example"}}
    </div>
    <div class="profile-form-control">
      {{> Input labelText="New password" type="password" id="newPassword" name="newPassword" value="example"}}
    </div>
    <div class="profile-form-control">
      {{> Input labelText="Repeat password" type="password" id="password_verify" name="password_verify" value="example"}}
    </div>
    <div class="form-buttons-block">
      {{> Button link="#chats" text="Save" additionalClass="button-filled"}}
    </div>
  </form>
</div>
