@use "../../style.scss" as style;

.profile-password-page-wrapper {
  @include style.profilePage();
  .profile-page-form {
    margin-top: 95px;
    width: 100%;
    .profile-form-control {
      padding: 10px 0;
      label {
        @include style.text();
        white-space: nowrap;
      }
    }
    .profile-form-control:not(:last-child) {
      border-bottom: 1px solid style.$list-border;
    }
    .profile-form-control .input-wrapper {
      @include style.flex($justify: space-between);
    }
    input {
      @include style.text($color: style.$grey);
      text-align: right;
    }
    .form-buttons-block {
      margin-top: 160px;
    }
    .form-buttons-block .button-wrapper {
      border: none;
      width: 280px;
      margin: 0 auto;
      a {
        color: style.$white;
      }
    }
  }
}
