@use "../../../style.scss" as style;

.button-wrapper {
  width: 100%;
}

.button {
  @include style.text($size: 11px, $line-height: 11px, $color: style.$blue);
  text-decoration: none;
  @include style.flex($justify: center);
}

.button-filled {
  @include style.text();
  display: block;
  width: 100%;
  background-color: style.$blue;
  color: style.$white;
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
}
